node_modules/
dist/

src/components/icon/
src/assets

postcss.config.js
prettier.config.js
src/reportWebVitals.ts
tailwind.config.js
package.json

**/*.md

tsconfig.json
tsconfig.eslint.json

vite.config.ts